<style>
@media only screen and (min-width: 768px) {
    .notes-field {
      width: 450px;
    }
    .payment-amount-field {
      width: 120px;
    }
}
</style>

    <div class="panel-heading hidden-print">PAYMENT SUMMARY - #{{booking.id}}</div>
    <div class="panel-body">
		<div class="col-md-12">

				{{ form_start(form, {'attr': {'class':'payment form-inline'} }) }}
			<div class="row">
				<div class="header nopadding col-md-12 col-sm-12 col-xs-12">
					<div class="col-md-1 hidden-sm hidden-xs">ITEM</div>
					<div class="text-left col-md-6 col-sm-6 col-xs-7">DESCRIPTION</div>
					<div class="text-right visible-xs col-xs-2">ACTUAL</div>
					<div class="hidden-xs text-right col-md-2 col-sm-2">ACTUAL PRICE</div>
					<div class="text-center col-md-2 col-sm-3 col-xs-3">PRICE</div>
				</div>
			</div>		
    {% for passenger in booking.passengers %}
	<div class="panel1 panel-default pdf-page-half">
	    <div class="panel-heading1 hidden-print"><h5>{{passenger.name}}</h5></div>
    	<div class="panel-body1">

			{% set itemNo = 1 %}
			{% set passengerIndex = loop.index-1 %}

			<div class="row purchaseItems{{loop.index}}" data-prototype="{% filter escape %}{% include 'booking/payment/bookingPurchaseItem.new.html.twig' with {'form': form.passengers[loop.index0].purchase.purchaseItems.vars.prototype} %}{% endfilter %}">

			{% for key,purchaseItem in form.passengers[loop.index0].purchase.purchaseItems %}
				{% set purchaseItemIndex = loop.index0-1 %}

				{% if loop.index0 > 0 %}
				<div class="row nopadding purchaseItem col-md-12">
				{% else %}
				<div class="row nopadding col-md-12">
				{% endif %}
					<div class="col-md-1 hidden-sm hidden-xs">#{{ itemNo }}</div>
					<div class="text-left col-md-6 col-sm-7 col-xs-7">{{ form_row(purchaseItem.product, {'label':false, 'attr':{'onchange':'bookingPaymentSummaryUpdatePurchaseItem(this)'}}) }}</div>
					<div id="product_price_{{passengerIndex}}_{{ loop.index-1 }}" class="text-right col-md-2 col-sm-2 col-xs-2" style="margin:7px 0px;">{{ booking.passengers[passengerIndex].purchase.purchaseItems[key].product.price }}</div>
					<div class="text-left col-md-2 col-sm-3 col-xs-3">{{ form_row(purchaseItem.amount, {'label':false, 'attr': {'class':'text-right calc-item'}}) }}</div>
				</div>
				{% set itemNo = itemNo+1 %}

			{% endfor %}
			</div>
		</div>
	</div>
	<div class="row col-md-12" style="margin:15px 0px;"><div class=" col-md-12"></div></div>
    {% endfor %}

		<div class="row panel-body1 purchase-balance-owing-section">
			<div class="lined nopadding col-xs-12 col-sm-12 col-md-12">
				<div class="field-label text-right col-xs-9 col-sm-9 col-md-10">AMOUNT OWING</div>
				<div class="text-right col-sm-2 col-md-1" style="padding-right:27px;"><strong><span id="form_balanceAmount">{{ booking.calculateBalance|number_format(2) }}</span></strong></div>
				<div class="col-md-1">&nbsp;</div>
			</div>
		</div>
		<div class="row purchase-payment-type-section col-xs-12 col-sm-12 col-md-12">
			<div class="nopadding col-xs-12 col-sm-12 col-md-12">
				{% for paymentType in form.paymentType %}
			    {% set index = paymentType.vars.value %}{# get array index #}
			    {% set entity = form.paymentType.vars.choices[index].data %}{# get entity object #}
			        <div class="row col-xs-2 col-sm-2 col-md-1">
			        <div class="col-xs-12 col-sm-12 col-md-12" style="min-height:54px;">
			        	{% if entity.iconPath %}
			        		<img alt="{{ entity.name }}" title="{{ entity.name }}" src="{{ entity.iconPath }}" />
			        	{% else %}
			        	    <span style="min-height:54px;">{{ entity.name }}</span>
			        	{% endif %}
			        </div>
			        
			        <div class="col-xs-12 col-sm-12 col-md-12">{{ form_widget(paymentType) }}</div>{# render checkbox #}
			        </div>
				{% endfor %}
				{#{ form_widget(form.paymentType, {'attr' : {'class' : 'paymentType'}}) }#}
			</div>
		</div>
		<div class="row panel-body1 purchase-payment-section">
			<div class="nopadding col-xs-12 col-sm-12 col-md-12">
				<div class="nopadding col-xs-12 col-md-12 col-sm-12">
					<div class="text-center col-xs-7 col-sm-7 col-md-6">NOTES</div>
					<div class="text-center col-xs-3 col-sm-3 col-md-3">LAST 4 DIGITS</div>
					<div class="text-center visible-xs visible-sm col-xs-2 col-sm-2">PAID</div>
					<div class="text-center hidden-xs hidden-sm col-md-2">AMOUNT PAID</div>
					<div class="text-center visible-md visible-lg col-md-1" >&nbsp;</div>
				</div>
				<div class="nopadding col-xs-12 col-sm-12 col-md-12">
					<div class="text-center col-xs-7 col-sm-7 col-md-6">{{ form_row(form.description, {'label':false, 'attr': {'class':'notes-field'}}) }}</div>
					<div class="text-center col-xs-3 col-sm-3 col-md-3">{{ form_row(form.sumupRef, {'label':false, 'attr': {'class':'text-right sumup-field;'}}) }}</div>
					<div class="text-center col-xs-2 col-sm-2 col-md-2" >{{ form_row(form.paymentAmount, {'label':false, 'attr': {'class':'text-right payment-amount-field;'}}) }}</div>
					<div class="text-center visible-md visible-lg col-md-1" >&nbsp;</div>
				</div>
			</div>
		</div>
		<div class="row buttons">
			<div class="nopadding col-md-11">
				<div class="text-right col-md-12">
					{{form_widget(form.pay)}}
					{{form_widget(form.cancel)}}
				</div>
			</div>
		</div>

		{{ include('common/payment-summary.html.twig', {'payments':payments, 'booking':booking}) }}

		{{ form_end(form) }}
	</div>
	</div>
	</div>
