{# templates/admin/booking_custom_view.html.twig #}

{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block sonata_admin_content %}
        <style>
            @media only screen and (max-width: 767px) {
                div.waiting-list, div.booking-requests
                {
                    padding-left:0px;
                    padding-right:0px;
                }
            }
            @media only screen and (min-width: 768px) {
                div.waiting-list
                {
                    padding-left:10px;
                    padding-right:0px;
                }
                div.booking-requests
                {
                    padding-left:0px;
                    padding-right:10px;
                }
            }

            .progress{
                width: 150px;
                height: 150px;
                line-height: 150px;
                background: none;
                margin: 0 auto;
                box-shadow: none;
                position: relative;
            }
            .progress:after{
                content: "";
                width: 100%;
                height: 100%;
                border-radius: 50%;
                border: 12px solid #fff;
                position: absolute;
                top: 0;
                left: 0;
            }
            .progress > span{
                width: 50%;
                height: 100%;
                overflow: hidden;
                position: absolute;
                top: 0;
                z-index: 1;
            }
            .progress .progress-left{
                left: 0;
            }
            .progress .progress-bar{
                width: 100%;
                height: 100%;
                background: none;
                border-width: 12px;
                border-style: solid;
                position: absolute;
                top: 0;
            }
            .progress .progress-left .progress-bar{
                left: 100%;
                border-top-right-radius: 80px;
                border-bottom-right-radius: 80px;
                border-left: 0;
                -webkit-transform-origin: center left;
                transform-origin: center left;
            }
            .progress .progress-right{
                right: 0;
            }
            .progress .progress-right .progress-bar{
                left: -100%;
                border-top-left-radius: 80px;
                border-bottom-left-radius: 80px;
                border-right: 0;
                -webkit-transform-origin: center right;
                transform-origin: center right;
                animation: loading-1 1.8s linear forwards;
            }
            .progress .progress-value{
                width: 90%;
                height: 90%;
                border-radius: 50%;
                background: #44484b;
                font-size: 24px;
                color: #fff;
                line-height: 135px;
                text-align: center;
                position: absolute;
                top: 5%;
                left: 5%;
            }
            .progress.blue .progress-bar{
                border-color: #049dff;
            }
            .progress.blue .progress-left .progress-bar{
                animation: loading-2 1.5s linear forwards 1.8s;
            }
            .progress.yellow .progress-bar{
                border-color: #fdba04;
            }
            .progress.yellow .progress-left .progress-bar{
                animation: loading-3 1s linear forwards 1.8s;
            }
            .progress.pink .progress-bar{
                border-color: #ed687c;
            }
            .progress.pink .progress-left .progress-bar{
                animation: loading-4 0.4s linear forwards 1.8s;
            }
            .progress.green .progress-bar{
                border-color: #1abc9c;
            }
            .progress.green .progress-left .progress-bar{
                animation: loading-5 1.2s linear forwards 1.8s;
            }
            @keyframes loading-1{
                0%{
                    -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
                }
                100%{
                    -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
                }
            }
            @keyframes loading-2{
                0%{
                    -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
                }
                100%{
                    -webkit-transform: rotate(144deg);
                    transform: rotate(144deg);
                }
            }
            @keyframes loading-3{
                0%{
                    -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
                }
                100%{
                    -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);
                }
            }
            @keyframes loading-4{
                0%{
                    -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
                }
                100%{
                    -webkit-transform: rotate(36deg);
                    transform: rotate(36deg);
                }
            }
            @keyframes loading-5{
                0%{
                    -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
                }
                100%{
                    -webkit-transform: rotate(126deg);
                    transform: rotate(126deg);
                }
            }
            @media only screen and (max-width: 990px){
                .progress{ margin-bottom: 20px; }
            }

        </style>

        {% set waitingList = bookingDailySchedule.waitingList %}
        {% set bookingRequests = bookingDailySchedule.bookingRequests %}
        {% set timeSchedules = bookingDailySchedule.timeSchedules %}
        {% set bookingsUnallocated = bookingDailySchedule.bookingsUnallocated %}
        {% set pilots = bookingDailySchedule.pilots %}

        <div class="modal fade" id="deleteWarning" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content col-md-6 text-center">
                    <div class="modal-body">
                        <h4 class="modal-title">Delete Booking?</h4>
                    </div>
                    <div class="modal-footer">
                        <a class="clickable btn btn-danger btn-ok">Yes</a>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="hidden-print">
            <ul class="nav nav-pills nav-justified visible-xs visible-sm">
                <li class="active"><a href="{#{ path('booking_quick') }#}">Quick Booking <span class="glyphicon glyphicon-plane"></span></a></li>
            </ul>
        </div>

        <!-- div class="col-md-12">
	{% for purchase in purchases %}
		{% for purchaseItem in purchase.purchaseItems %}
			{% if purchaseItem.product.productCategory.name == 'FLIGHT' %}
			{#{ purchaseItem.product.name }#}</br>
			{% endif %}
		{% endfor %}
	{% endfor %}
</div--!>

        <div class="visible-xs visible-sm clearfix">&nbsp;</div>

    <div class="col-md-12">
        {{ include('admin/pagination.html.twig') }}
    </div>

    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="col-md-12 alert alert-{{ type }} alert-dismissable">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <div class="col-md-12" style="padding-left:0px;padding-right:0px;">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    {{ include('admin/main-header.html.twig') }}
                </div>
            </div>

            <div class="panel panel-default">
                <!-- Default panel contents -->
                {% set bookingCollection = bookingDailySchedule.bookingsUnallocated %}
                {{ include('admin/bookings.html.twig', {'title':'UNSCHEDULED BOOKINGS'}) }}
            </div>

            {% for timeSchedule in bookingDailySchedule.timeSchedules %}
                <div class="panel panel-default">
                    <a name="{{ timeSchedule.flightScheduleTime.scheduleStartTime|date("H:i") }}"></a>
                    {% set bookingCollection = timeSchedule.bookings %}
                    {{ include('admin/bookings.html.twig') }}
                </div>
            {% endfor %}
        </div>

        <div class="col-md-6 booking-requests">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h4>BOOKING REQUESTS TODAY</h4>
                </div>
                {% if bookingRequests is not empty %}
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th class="hidden-xs hidden-sm hidden-md hidden-lg">Phone</th>
                        <th><span class="glyphicon glyphicon-user"></span></th>
                        <th class="hidden-xs hidden-sm hidden-md hidden-lg">Comments</th>
                        <th>Flight</th>
                        <th class="hidden-xs">Arrival</th>
                        <th class="visible-xs">Arriv.</th>
                        <th class="hidden-xs">Departure</th>
                        <th class="visible-xs">Dep.</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>

                    {% for bookingrequest in bookingRequests %}
                        <tr>
                            <td>{{bookingrequest.name}}</td>
                            <td class="hidden-xs hidden-sm hidden-md hidden-lg">{{bookingrequest.phone}}</td>
                            <td>{{bookingrequest.nopassengers}}</td>
                            <td class="hidden-xs hidden-sm hidden-md hidden-lg">{{bookingrequest.comments}}</td>
                            <td class="visible-xs visible-sm">{{bookingrequest.flightdate is empty ? "" : bookingrequest.flightdate|date("d M")}}</td>
                            <td class="hidden-xs hidden-sm">{{bookingrequest.flightdate is empty ? "" : bookingrequest.flightdate|date("d-m-Y")}}</td>
                            <td class="visible-xs visible-sm">{{bookingrequest.arrivaldate is empty ? "" : bookingrequest.arrivaldate|date("d M")}}</td>
                            <td class="hidden-xs hidden-sm">{{bookingrequest.arrivaldate is empty ? "" : bookingrequest.arrivaldate|date("d-m-Y")}}</td>
                            <td class="visible-xs visible-sm">{{bookingrequest.departuredate is empty ? "" : bookingrequest.departuredate|date("d M")}}</td>
                            <td class="hidden-xs hidden-sm">{{bookingrequest.departuredate is empty ? "" : bookingrequest.departuredate|date("d-m-Y")}}</td>
                            <td class="visible-sm visible-xs text-right">
                                <div class="btn-group pull-right hidden-print">
                                    <a href="{#{ path('booking_request_confirm', { 'id': bookingrequest.id }) }#}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-check"></span></a>
                                </div>
                            </td>
                            <td class="hidden-sm hidden-xs text-right">
                                <div class="pull-right hidden-print">
                                    <a href="{#{ path('booking_request_confirm', { 'id': bookingrequest.id }) }#}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-check"></span></a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    {% else %}
                        <div class="panel-body">NONE</div>
                    {% endif %}
                </table>
            </div>
        </div>
        <div class="col-md-6 waiting-list">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h4>
                        WAITING LIST
                        <div class="pull-right hidden-print">
                            <a href="{#{ path('waiting_list_new', {'date':indexdate|date("Y-m-d")})  }#}" class="btn btn-default btn-md visible-xs"><span class="glyphicon glyphicon-plus"></span></a>
                        </div>
                        <div class="btn-group pull-right hidden-print">
                            <a href="{#{ path('waiting_list_new', {'date':indexdate|date("Y-m-d")})  }#}" class="btn btn-default btn-sm hidden-xs"><span class="glyphicon glyphicon-plus"></span></a>
                        </div>
                    </h4>
                </div>
                {% if waitingList is not empty %}
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th class="hidden-xs">Contact</th>
                        <th><span class="glyphicon glyphicon-user"></span></th>
                        <th>Notes</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>


                    {% for waitingListItem in waitingList %}
                        {% if(waitingListItem.deleted is null) %}
                            {% set strikeStart = '' %}
                            {% set strikeEnd = '' %}
                        {% else %}
                            {% set strikeStart = '<strike>' %}
                            {% set strikeEnd = '</strike>' %}
                        {% endif %}
                        <tr>
                            <td>{{strikeStart|raw}}{{loop.index}}{{strikeEnd|raw}}</td>
                            <td class="hidden-xs">{{strikeStart|raw}}{{waitingListItem.name}}{{strikeEnd|raw}}</td>
                            <td class="hidden-xs">{{strikeStart|raw}}{{waitingListItem.contactinfo}}{{strikeEnd|raw}}</td>
                            <td class="visible-xs">
                                {{strikeStart|raw}}{{waitingListItem.name}}{{strikeEnd|raw}}</br>{{strikeStart|raw}}{{waitingListItem.contactinfo}}{{strikeEnd|raw}}
                            </td>
                            <td>{{strikeStart|raw}}{{waitingListItem.nopassengers}}{{strikeEnd|raw}}</td>
                            <td>{{strikeStart|raw}}{{waitingListItem.notes}}{{strikeEnd|raw}}</td>
                            <td>
                                {% if(waitingListItem.deleted is null) %}
                                    <div class="btn-group pull-right hidden-print">
                                        <a href="{#{ path('waiting_list_delete', {'id':waitingListItem.id}) }#}" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-minus-sign"></span></a>
                                    </div>
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                    {% else %}
                        <div class="panel-body">NONE</div>
                    {% endif %}

                    </tbody>
                </table>
            </div>
        </div>


        <script type="text/javascript" src="{{ asset('js/aazp.js') }}"></script>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

        <script type="text/javascript">

            $('#datetimepicker').datetimepicker({
                format: 'DD-MM-YYYY',
                locale: 'en_UK',
                sideBySide: true,
                calendarWeeks: true,
                showTodayButton: true,
                dayViewHeaderFormat: 'MMMM YYYY',
                /* minDate: moment(), */
            }).on("dp.change", function (e) {
                $('#targetDateForm').submit();//do your action here
            });

            $('#availability_checkAllTimes').on('change', function (e) {
                if($('#availability_checkAllTimes').is(':checked')) {
                    $('[id^=availability_flightTimes_]').prop('checked', true);
                }
                else {
                    $('[id^=availability_flightTimes_]').prop('checked', false);
                }
            });

            {% for booking in bookings %}
            $('{{'.booking-'~booking.id}}').hover( function () {
                    if ($(this).hasClass('info')) {
                        $('{{'.booking-'~booking.id}}').children().css('background-color', '#c4e3f3');
                    } else if ($(this).hasClass('success')) {
                        $('{{'.booking-'~booking.id}}').children().css('background-color', '#d0e9c6');
                    } else if ($(this).hasClass('danger')) {
                        $('{{'.booking-'~booking.id}}').children().css('background-color', '#ebcccc');
                    } else if ($(this).hasClass('warning')) {
                        $('{{'.booking-'~booking.id}}').children().css('background-color', '#faf2cc');
                    } else {
                    }
                },
                function () {
                    if ($(this).hasClass('info')) {
                        $('{{'.booking-'~booking.id}}').children().css('background-color', '#d9edf7');
                    } else if ($(this).hasClass('success')) {
                        $('{{'.booking-'~booking.id}}').children().css('background-color', '#dff0d8');
                    } else if ($(this).hasClass('danger')) {
                        $('{{'.booking-'~booking.id}}').children().css('background-color', '#f2dede');
                    } else if ($(this).hasClass('warning')) {
                        $('{{'.booking-'~booking.id}}').children().css('background-color', '#fcf8e3');
                    } else {
                    }
                });
            {% endfor %}
        </script>


        {#% javascripts '@AazpBookingBundle/Resources/public/js/aazp.js'
            '@AazpBookingBundle/Resources/public/js/jquery-ui-i18n.js'
            '@AazpBookingBundle/Resources/public/js/jquery-ui-1.10.4.custom.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %#}


{% endblock %}
