{% extends 'base/standard_layout.html.twig' %}

{% block sonata_page_content_header %}
    {{ parent() }}
    <div class="sticky-wrapper"><nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">New Booking</a>
                </div>
            </div>
        </nav>
    </div>
{% endblock %}

{% block sonata_admin_content %}
    {{ parent() }}
<div class="box box-primary">
    <div class="box-header">
        <div class="box-title">Booking</div>
    </div>
    <div class="box-body">
        {#{ form_start(form) }#}
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-12">
                        {#{ form_errors(form) }#}
                        {{ form_label(form.flightdate) }}
                        <div class="form-group">
                            <div class='input-group date' id='datepicker'>
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                {{ form_widget(form.flightdate) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12">
                        {{ form_row(form.meetingLocation) }}
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-12" >
                        {{ form_row(form.meetingTime) }}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        {{ form_row(form.flight) }}
                    </div>
                    <div class="col-xs-12 col-md-12">
                        {{ form_row(form.contactinfo, {'attr': { 'rows':'6' }}) }}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        {{ form_row(form.notes, {'attr': { 'rows':'10' }}) }}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-12" style="min-height:110px;">
                <label>Passengers</label>
                <div class="passengers" data-prototype="{% filter escape %}{% include 'booking/new/prototypes/new.passenger.protoype.html.twig' with {'form': form.passengers.vars.prototype, 'disabled':true, 'passengerFlight':form.passengers[0].flight} %}{% endfilter %}">
                    {#{ form_row(form.passengers) }#}
                {% for passenger in form.passengers %}
                    {% if loop.index > 1 %}
                        <div class="passenger nopadding col-md-12 col-sm-12 col-xs-12">
                    {% else %}
                        <div class="passenger nopadding col-md-12 col-sm-12 col-xs-12">
                    {% endif %}
                            <div class="col-xs-10 col-sm-12 col-md-5">{{ form_row(passenger.name, {'label':false}) }}</div>
                            <div class="col-xs-6 col-sm-12 col-md-4">{{ form_row(passenger.flight, {'label':false, 'attr':{'disabled':true}}) }}</div>
                            <div class="col-xs-4 col-sm-10 col-md-2">{{ form_row(passenger.pilot, {'label':false}) }}</div>
                        </div>
                {% endfor %}
                    </div>
                </div>
                <div class="nopadding1 col-xs-12 col-sm-12 col-md-12">
                    {% include ('booking/owner-select.html.twig') %}
                </div>
                <div class="col-xs-12 col-md-12">
                    {{ form_widget(form.saveAndExit) }}
                    {{ form_widget(form.saveAndConfirm) }}
                    {{ form_widget(form.cancel, {'attr': {'href':'#', 'data-href':path('booking_custom_schedule'), 'data-modal-title':'Cancel with out saving?', 'data-toggle':'modal', 'data-target':'#modalWarning'}}) }}
                </div>
            </div>
            {{ form_errors(form) }}
            {{ form_widget(form._token) }}
            {{ form_end(form, {'render_rest': true}) }}
        </div>
    </div>
    <!-- here -->


    {{ include('booking/owner-javascript.html.twig', {'formId': form.vars.name, 'fieldId': form.owner.vars.name}) }}

    {% endblock sonata_admin_content %}
