{% extends 'base/standard_layout.html.twig' %}

{% block sonata_admin_content %}

<div class="modal fade" id="cancelWarning" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content col-md-6 text-center">
      <div class="modal-body">
        <h4 class="modal-title">Cancel without saving?</h4>
      </div>
      <div class="modal-footer">
        <a href="{#{ path('booking_index_schedule') }#}" class="btn btn-primary">Yes</a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

  <div class="panel panel-default box box-primary">
    <div class="panel-heading">BOOKING REQUEST CONFIRM</div>
    <div class="panel-body">

{{ form_start(form) }}
{#{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }#}
	<div class="row">
	    <div class="col-xs-12 col-md-4">
			<div class="col-xs-12 col-sm-4 col-md-12">
                {{ form_row(form.flightScheduleTime) }}
			</div>
		    <div class="col-xs-7 col-sm-4 col-md-12">
			    {{ form_label(form.flightdate, null, { 'label_attr': {'class': 'control-label'} }) }}{{ form_errors(form.flightdate) }}
               <div class="form-group">
                    <div class='input-group date' id='datepicker'>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        {#{ form_widget(form.flightdate) }#}
                        {{ form_widget(form.flightdate, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
			<div class="col-xs-5 col-md-12" >
                {{ form_label(form.meetingTime, null, { 'label_attr': {'class': 'control-label'} }) }}{{ form_errors(form.meetingTime) }}
               <div class="form-group">
                    <div class='input-group date' id='timepicker1'>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                        {{ form_widget(form.meetingTime) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
			<div class="col-xs-3 col-md-12">
			    {{ form_label(form.flight) }}
            </div>
			<div class="col-xs-9 col-md-12" style="margin-bottom:15px;">
			    {{ form_widget(form.flight) }}
            </div>
			<div class="col-xs-3 col-md-12">
			    {{ form_label(form.meetinglocation) }}
            </div>
			<div class="col-xs-9 col-md-12" style="margin-bottom:15px;">
				{{ form_widget(form.meetinglocation) }}
			</div>
			<div class="col-xs-3 col-md-12">
                {{ form_label(form.contactinfo) }}
            </div>
			<div class="col-xs-9 col-md-12" style="margin-bottom:15px;">
                {{ form_widget(form.contactinfo) }}
			</div>
		</div>
		<div class="col-xs-12 col-md-4">
		    <div class="col-xs-12 col-md-12" style="min-height:110px;">
				<label>Passengers</label>
				<div class="passengers" data-prototype="{% filter escape %}{% include 'bookingrequest/prototypes/passenger-booking.protoype.html.twig' with {'form': form.passengers.vars.prototype} %}{% endfilter %}">
				{#{ form_row(form.passengers) }#}
					{% for passenger in form.passengers %}
					{% if loop.index > 1 %}
					<div class="passenger col-md-12 row">
					{% else %}
					<div class="col-md-12 row">
					{% endif %}
						<div class=" {{ passenger.flight is defined?'col-xs-5 col-sm-5 col-sm-7 col-md-4':'col-md-10' }}">{{ form_row(passenger.name, {'label':false, 'attr':{'class':'form-control'}}) }}</div>

                        {% if passenger.flight is defined %}
						<div class="hidden-xs hidden-sm col-sm-12 col-md-4">{{ form_row(passenger.flight, {'label':false, 'attr':{'class':'form-control'}}) }}</div>
                        {% endif %}
                        {% if passenger.pilot is defined %}
						<div class="col-xs-5 col-sm-5 col-sm-4 col-md-3">{{ form_row(passenger.pilot, {'label':false, 'attr':{'class':'form-control'}}) }}</div>
                        {% endif %}

                        {% if loop.index == 1 %}
						<div class="col-xs-2 col-xs-2 col-md-1">&nbsp;</div>
						{% endif %}
					</div>
					{% endfor %}
					</div>
				</div>
			</div>
	    </div>
	    <div class="col-xs-12 col-md-12">
            {{ form_row(form.notes, {'attr': { 'rows':'6' }}) }}
            {{ form_row(form.owner,{ 'attr': { 'class': 'owner' } }) }}
		</div>
	    <div class="col-xs-12 col-md-2">
			{#{ form_widget(form.save) }#}
			{{ form_widget(form.saveAndExit) }}
        </div>
        <div class="col-xs-12 col-md-2">
		{% if (entity.status == constant('App\\Entity\\Booking::STATUS_NEW')) %}
			{{ form_widget(form.saveAndConfirm) }}
		{% endif %}
        </div>
        <div class="col-xs-12 col-md-2">
			{{ form_widget(form.cancel) }}
		</div>
    </div>
{{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false}) }}

    </div>
  </div>
{% endblock sonata_admin_content %}
