<link href="{{ app.request.scheme ~ '://' ~ app.request.host}}{{app.request.port == 80?'': ':'~app.request.port}}/css/bootstrap.css" rel="stylesheet" media="all">

<style>
	.container {
		font-size: 12px;
	}

	li {
	  margin: 10px 0;
	}
</style>

<div class="container">
		<div class="text-center">
		  	<img alt="Fly Zermatt Paragliding" src="{{ app.request.scheme ~ '://' ~ app.request.host}}{{app.request.port == 80?'': ':'~app.request.port}}/img/fly-zermatt-come-fly-with-us-logo.jpg">
		</div>


	<p>Thank you for your interest in coming to fly with us in Zermatt! We are now processing your booking information.</p>

	<p><strong>Important!</strong> THIS BOOKING IS NOT YET CONFIRMED!</p>

	<p>Once we have checked your information, we will send you an email with payment details and any additional information regarding passenger restrictions, flight conditions or required changes.</p>

	<p>Your booking will then be confirmed once payment has been received.</p>

	<p>
		Please note: <strong>“Our cancellation policy”</strong><br/>
		Up until 48 hours prior to your booking, 100% refund.<br/>
		Less than 48 hours to your booking, No refund.<br/>
		Please see our <a href="https://www.flyzermatt.com" target="_blank"> terms & conditions</a> for more information.
	</p>


<p>To find our shop in Zermatt, please see the video below.</p>

<p><i>With kind regards,<br/>
The FlyZermatt Team</i></p>

<p style="color:#939393;border-top:1px solid #D3D3D3;border-bottom:1px solid #D3D3D3;padding-top:10px;padding-bottom:10px;"><i>This is the information that you entered into the Web Form at FlyZermatt.com:<br/>
(please note that we never share your information with *anyone*!)</i></p>

<p><b>From ::</b><br/>
{{ bookingRequest.name }} :: {{ '<'~bookingRequest.email~'>' }}</p>

<p><b>Flight ::</b><br/>
{{ bookingRequest.flight.description }}</p>

<p><b>Phone ::</b><br/>
{{ bookingRequest.phone }}</p>

<p><b>Nr of People ::</b><br/>
{{ bookingRequest.noPassengers }}</p>

<p><b>Dates ::</b><br/>
Arrive: {{ bookingRequest.arrivalDate is not null?bookingRequest.arrivalDate|date("d.m.Y"):'NOT GIVEN' }}<br/>
<span style="color:#8B0000;"><b>Flight: {{ bookingRequest.flightDate|date("d.m.Y") }}</b></span><br/>
Leave: {{ bookingRequest.departureDate is not null?bookingRequest.departureDate|date("d.m.Y"):'NOT GIVEN' }}<br/></p>

<p><b>Group Requirements ::</b><br/>
	{% for groupCondition in bookingRequest.groupconditions %}
		{{ groupCondition.name }}<br/>
	{% endfor %}
</p>

<p><b>Message ::</b><br/>
{{ bookingRequest.comments }}</p>

---------------------------------------------------------------------------------------
<p>FlyZermatt Tandem Paragliding Flights. Zermatt, Switzerland</br>
<a href="mailto:info@flyzermatt.com">info@flyzermatt.com</a><br/>
<a href="https://www.flyzermatt.com" target="_blank">www.flyzermatt.com</a><br/>
Tel: +41 79 643 6808<br/>
Mobile: +41 79 643 6808<br/></p>

<p style="text-align:center;">How to find the FLYZermatt shop<br/><br/>
<a href="https://vimeo.com/217390381" target="_blank">
	<img width="450" alt="How to find the FLY Zermatt shop" title="How to find the FLY Zermatt shop" src="{{ app.request.scheme ~ '://' ~ app.request.host}}{{app.request.port == 80?'': ':'~app.request.port}}/img/how-to-get-to-FlyZermatt-office-intro.png">
</a>
</p>
<p style="text-align:center;">Like us on Facebook!<br/>
<a href="https://www.facebook.com/flyzermatt/" target="_blank">https://www.facebook.com/flyzermatt/</a></p>

<p style="text-align:center;">FLYZermatt on Vimeo.com<br/>
<a href="https://vimeo.com/flyzermatt" target="_blank">https://vimeo.com/flyzermatt</a></p>

</div>
