<link href="{{ app.request.scheme ~ '://' ~ app.request.host}}{{app.request.port == 80?'': ':'~app.request.port}}/css/bootstrap.css" rel="stylesheet" media="all">

<style>
	.container {
		font-size: 12px;
	}

	li {
	  margin: 10px 0;
	}
</style>

<div class="container">
	<div class="text-center">
		<img alt="Fly Zermatt Paragliding" src="{{ app.request.scheme ~ '://' ~ app.request.host}}{{app.request.port == 80?'': ':'~app.request.port}}/img/fly-zermatt-come-fly-with-us-logo.jpg">
	</div>

<h3><i>Booking Request - {{ bookingRequest.name }}</i></h3>

<p style="color:#939393;border-top:1px solid #D3D3D3;border-bottom:1px solid #D3D3D3;padding-top:10px;padding-bottom:10px;"><i>This is the information entered into the Web Form at FlyZermatt.com:<br/>
(please note that we never share your information with *anyone*!)</i></p>

<p><b>From ::</b><br/>
{{ bookingRequest.name }} :: {{ '<'~bookingRequest.email~'>' }}</p>

<p><b>Flight ::</b><br/>
{{ bookingRequest.flight.description }}</p>

<p><b>Phone ::</b><br/>
{{ bookingRequest.phone }}</p>

<p><b>Nr of People ::</b><br/>
{{ bookingRequest.noPassengers }}</p>

<p><b>Dates ::</b><br/>
Arrive: {{ bookingRequest.arrivalDate is not null?bookingRequest.arrivalDate|date("d.m.Y"):'NOT GIVEN' }}<br/>
<span style="color:#8B0000;"><b>Flight: {{ bookingRequest.flightDate|date("d.m.Y") }}</b></span><br/>
Leave: {{ bookingRequest.departureDate is not null?bookingRequest.departureDate|date("d.m.Y"):'NOT GIVEN' }}<br/></p>

<p><b>Group Requirements ::</b><br/>
	{% for groupCondition in bookingRequest.groupconditions %}
		{{ groupCondition.name }}<br/>
	{% endfor %}
</p>

<p><b>Message ::</b><br/>
{{ bookingRequest.comments }}</p>

---------------------------------------------------------------------------------------

<p>Please note that at the moment you do NOT have a fixed booking. Follow the below steps to make a fixed booking...</p>
<h3><i>How to finalize your Booking</i></h3>

	<ol>
		<li>Contact us 3 - 4 days prior to your requested paragliding date to let us know if you still want to fly. We will check weather and conditions and then finalize your flight details
			Tel: +41 79 643 6808 :: <a href="mailto:info@flyzermatt.com">info@flyzermatt.com</a></li>

		<li>Come to our office (minimum) 1 day before your flight to make full payment. If you can’t come to our office before your flight (for example you are arriving the morning of your flight) please let us know so we can make other arrangements.</li>
	</ol>

	<p>To find our shop in Zermatt, please see the video below.</p>

<p><i>With kind regards,<br/>
The FlyZermatt Team</i></p>

---------------------------------------------------------------------------------------

<p>FlyZermatt Tandem Paragliding Flights. Zermatt, Switzerland</br>
<a href="mailto:info@flyzermatt.com">info@flyzermatt.com</a><br/>
<a href="https://www.flyzermatt.com" target="_blank">www.flyzermatt.com</a><br/>
Tel: +41 79 643 6808<br/>
Mobile: +41 79 643 6808<br/></p>

<p style="text-align:center;">How to find the FLYZermatt shop<br/><br/>
<a href="https://vimeo.com/217390381" target="_blank">
	<a href="https://vimeo.com/217390381" target="_blank">
		<img width="450" alt="How to find the FLY Zermatt shop" title="How to find the FLY Zermatt shop" src="{{ app.request.scheme ~ '://' ~ app.request.host}}{{app.request.port == 80?'': ':'~app.request.port}}/img/how-to-get-to-FlyZermatt-office-intro.png">
	</a>
</a>
</p>

<p style="text-align:center;">Like us on Facebook!<br/>
<a href="https://www.facebook.com/flyzermatt/" target="_blank">https://www.facebook.com/flyzermatt/</a></p>

<p style="text-align:center;">FLYZermatt on Vimeo.com<br/>
<a href="https://vimeo.com/flyzermatt" target="_blank">https://vimeo.com/flyzermatt</a></p>

---------------------------------------------------------------------------------------

</div>
