{% extends 'base/standard_layout.html.twig' %}

{% block sonata_page_content_header %}
	{{ parent() }}
	<div class="sticky-wrapper">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Booking Payment</a>
				</div>
			</div>
		</nav>
	</div>
{% endblock %}

{% block sonata_admin_content %}
	{{ parent() }}
	<div id="ajaxreplace" class="box box-primary pdf-page-half">
		{% include ('payment/booking.payment.summary.form.html.twig') %}
	</div>

	{#TODO move this script to central location. Can we make it dynamic?? #}
	<script>

		{% for i in 1..booking.passengers|length %}
			var $addPurchaseItemLink{{ i }} = $('<div class="btn-group pull-left"><div class="col-md-12 col-sm-12"><a href="#" class="add_purchase_item_link btn btn-default btn-md"><span class="glyphicon glyphicon-plus"></span></a></div></div>');
			var $newPurchaseItemLink{{ i }} = $('<div></div>').append($addPurchaseItemLink{{ i }});
		{% endfor %}

		$(document).ready(function() {

			{% for i in 1..booking.passengers|length %}

			$purchaseItemsHolder{{ i }} = $('div.purchaseItems{{ i }}');

			$purchaseItemsHolder{{ i }}.append($newPurchaseItemLink{{ i }});

			$purchaseItemsHolder{{ i }}.data('index', $purchaseItemsHolder{{ i }}.children().length);

			$addPurchaseItemLink{{ i }}.on('click', function (e) {
				e.preventDefault();

				createPurchaseItemAddLink($purchaseItemsHolder{{ i }}, $newPurchaseItemLink{{ i }});
			});

			$purchaseItemsHolder{{ i }}.find('div.purchaseItem').each(function () {
				createPurchaseItemDeleteLink($(this));
			});

			{% endfor %}



		});

</script>

{% endblock %}
