	<div class="box-header hidden-print">PAYMENT SUMMARY - #{{ passenger.booking.id }}</div>
    <div class="box-body">
		<div class="box box-default">
			<div class="box-header">
				<h5>{{passenger.name}}</h5>
			</div>
			<div class="box-body">
				{{ form_start(form, {'attr': {'class':'payment form-inline'} }) }}
					<div class="header nopadding col-md-12 col-sm-12 col-xs-12">
						<div class="col-md-1 hidden-sm hidden-xs">ITEM</div>
						<div class="text-left col-md-6 col-sm-6 col-xs-6">DESCRIPTION</div>
						<div class="text-right visible-xs visible-sm visible-md col-xs-2 col-sm-2 col-md-2">ACTUAL</div>
						<div class="text-right hidden-xs hidden-sm hidden-md col-lg-2">ACTUAL PRICE</div>
						<div class="text-right col-md-2 col-sm-3 col-xs-3">PRICE</div>
						<div class="text-right col-md-1 col-sm-1 col-xs-1">&nbsp;</div>
					</div>

				<div style="min-height:170px;" class=" purchaseItems" data-prototype="{% filter escape %}{% include 'payment/purchaseItem.new.html.twig' with {'form': form.purchaseItems.vars.prototype} %}{% endfilter %}">
				{% for key,purchaseItem in form.purchaseItems %}
					{% if loop.index > 1 %}   {# THINK ABOUT PUTTING A CONDITION-- IF PRODUCT IS A FLIGHT THEN DO NOT ALLOW THE DELETE ITEM BUTTON #}
					<div class="row nopadding purchaseItem col-md-12">
					{% else %}
					<div class="row nopadding col-md-12">
					{% endif %}
						<div class="col-md-1 hidden-sm hidden-xs">#{{ loop.index }}</div>
						<div class="text-left col-md-6 col-sm-6 col-xs-6">{{ form_widget(purchaseItem.product, {'label':false, 'attr':{'onchange':'updatePurchase(this)'}}) }}</div>
						<div id="product_price_{{ loop.index-1 }}" class="text-right col-md-2 col-sm-2 col-xs-2" style="margin:7px 0px;">{{ passenger.purchase.purchaseItems[key].product.price }}</div>
						<div class="text-left col-md-2 col-sm-3 col-xs-3">{{ form_widget(purchaseItem.amount, {'label':false, 'attr': {'class':'text-right calc-item form-control'}}) }}</div>
					</div>
					{% endfor %}
				</div>
				<div class="lined nopadding col-xs-12 col-sm-12 col-md-12">
					<div class="field-label text-right col-xs-9 col-sm-9 col-md-9">AMOUNT OWING</div>
					<div class="text-right col-xs-2 col-sm-2 col-md-2" style="padding-right:27px;"><strong><span id="form_balanceAmount">{{ passenger.calculateOwing|number_format(2) }}</span></strong></div>
					<div class="col-md-1">&nbsp;</div>
				</div>

				<div class="row purchase-payment-type-section">
					<div class="col-xs-12 col-sm-12 col-md-12">
						{% for paymentType in form.paymentType %}
							{% set index = paymentType.vars.value %}{# get array index #}
							{% set entity = form.paymentType.vars.choices[index].data %}{# get entity object #}
							<div class="row col-xs-2 col-sm-1 col-md-1">
								<div id="payment-type-button-{{ index }}" class=" col-xs-12 col-sm-12 col-md-12" style="">
									{% if entity.iconPath %}
										<img class="payment-type" alt="{{ entity.name }}" title="{{ entity.name }}" src="{{ entity.iconPath }}" />
									{% else %}
										<span style="min-height:54px;">{{ entity.name }}</span>
									{% endif %}
									<div class="col-sm-12 col-md-12">{{ form_widget(paymentType) }}</div>{# render checkbox #}
								</div>
							</div>
						{% endfor %}
						{#{ form_widget(form.paymentType, {'attr' : {'class' : 'paymentType'}}) }#}
					</div>
				</div>
				<div class="row1 box-body1 purchase-payment-section">
					<div class="nopadding col-xs-12 col-md-12 col-sm-12">
						<div class="text-center col-xs-7 col-sm-7 col-md-6">NOTES</div>
						<div class="text-center col-xs-3 col-sm-3 col-md-3">LAST 4 DIGITS</div>
						<div class="text-center visible-xs visible-sm col-xs-2 col-sm-2">PAID</div>
						<div class="text-center hidden-xs hidden-sm col-md-2">AMOUNT PAID</div>
						<div class="text-center visible-md visible-lg col-md-1" >&nbsp;</div>
					</div>
					<div class="nopadding col-xs-12 col-sm-12 col-md-12">
						<div class="text-center col-xs-7 col-sm-7 col-md-6">{{ form_row(form.description, {'label':false, 'attr': {'class':'notes-field form-control full-width'}}) }}</div>
						<div class="text-center col-xs-3 col-sm-3 col-md-3">{{ form_row(form.sumupRef, {'label':false, 'attr': {'class':'text-right sumup-field form-control'}}) }}</div>
						<div class="text-center col-xs-2 col-sm-2 col-md-2" >{{ form_row(form.paymentAmount, {'label':false, 'attr': {'class':'text-right payment-amount-field form-control'}}) }}</div>
						<div class="text-center visible-md visible-lg col-md-1" >&nbsp;</div>
					</div>
				</div>
				<div class="row1 buttons">
					<div class="nopadding col-md-11">
						<div class="text-right col-md-12">
							{{form_widget(form.pay)}}
							{{form_widget(form.cancel)}}
						</div>
					</div>
				</div>
				<div class="col-md-12">
				{{ include('common/payment-summary.html.twig', {'payments':paymentViewList, 'booking':passenger.booking}) }}
				</div>

			{{ form_end(form) }}
			</div>
		</div>
		</div>
	</div>

	{{ include('payment/payment-javascript.html.twig', {'formId': form.vars.name, 'paymentTypeId': form.paymentType.vars.name}) }}
