<div class="form-group has-error">
    <span class="help-block">
        <ul class="list-unstyled">
            <li>{{ form_errors(form.paymentType) }}</li>
        </ul>
    </span>
</div>
<div class="nopadding col-xs-12 col-sm-12 col-md-12">
    {% for paymentType in form.paymentType %}
        {% set index = paymentType.vars.value %}{# get array index #}
        {% set entity = form.paymentType.vars.choices[index].data %}{# get entity object #}
        <div id="payment-type-button-{{ index }}" class="col-xs-2 col-sm-2 col-md-1" style="" >
            {{ form_row(paymentType, {'label':false, 'required':false}) }}{# render checkbox #}
            <div>
            {% if entity.iconPath %}
                <img class="payment-type" alt="{{ entity.name }}" title="{{ entity.name }}" src="{{ entity.iconPath }}" />
            {% else %}
                <span style="min-height:54px;">{{ entity.name }}</span>
            {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
